/* * {
    border: black solid;
} */

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#body{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* overflow-y: auto; */
    /* max-width: 60rem; */
    margin: 0 auto 2rem;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: #C86FC9;
    max-height: 100px;
}

.logo{
    max-width: 10vw;
}



img{
    height: 100%;
    object-fit: contain;
    max-width: 100%;
}

h1{
    align-items: center;
    display: inline-flex;
    /* height: 48px; */
    justify-content: center;
    /* letter-spacing: -.8px; */
    /* line-height: 24px; */
    /* min-width: 140px; */
    color: #fdfbf9;
    font-size: clamp(1rem, 1rem + 2vw ,7rem);
    margin-top: 0px;
    margin-bottom: 0px;
}

.otherbtn{
    width: 100px;
}

p#instrucciones{
    text-align: center;
    color: #8E518D;
}

p#instruccionescontent{
    text-align: center;
    max-width: 400px;
    margin-top: 0;
    font-size: 1.2rem;
    color: #595758;
    margin-left: auto;
margin-right: auto;
}

#app{
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

.homediv{
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    align-items: center;
}

.uibtn{
    --button_radius: 0.75em;
    --button_color: #F7C7DB;
    --button_outline_color: #595758;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 200px;
    margin: 10px;  
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none; 
}

.uibtn-top{
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover:enabled .uibtn-top{
    transform: translateY(-0.33em);
}

button:active:enabled .uibtn-top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
}

/* .uibtn:after {
    background-color: #595758;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(0px, 8px);
    
    z-index: -1;
} */

.uibtn:active{
    top: -2px;
}

.uibtn-top.disabled{
    color: #4f4f4f;
    background-color: #95738e;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    width: 150px;
    height: 200px; 
    border-radius: 10px;
    filter: drop-shadow(2px 5px 0px #1b021a38);
}

.selected {
    border: black solid 1px;
}

.question {
    font-size: 8rem;
    text-align: center;
    background-color: lightblue;
    border-bottom: gray dotted;
    flex : 1;
    line-height: 131px;
}

.form {
    text-align: center;
    background-color: gainsboro;
    flex: 1;
}

.correct {
    background-color: rgb(171, 223, 156);
}

.incorrect {
    background-color: brown;
}

input[type=text] {
    background-color: rgb(255, 255, 255);
    border: 0ch;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;   
}

#footer{
    background-color: #FFE4F3;
    bottom: 0;
}

.setupDiv{
    flex: 1;
}

.practiceDiv{
    /* border: black 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
}

.select-box{
    --margin : 19px;
    display: block;
    border: .3vw solid #595758;
    color: #595758;
    padding: 0.5rem 0;
    border-radius: 9px;
    font-size: 1.5rem;
    transition: 0.2s ease;
    margin: var(--margin) 0px var(--margin) 0;
}

label{
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none; 
}

.setup-input {
    clip-path: inset(50%);
    position: absolute;
}

.check {
    background-color: #C86FC9;
    border: .3vw solid #C86FC9;
    color: #fff;
    border-radius: 0%;
}