/* * {
    border: black solid 1px;
} */

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7d4f2;
}

#body{
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: clamp(1rem,1.5rem,10rem);
    margin-right: clamp(1rem,1.5rem,10rem);
}

.logo{
    max-width: 10vw;
}

img{
    height: 100%;
    object-fit: contain;
}

h1{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #fdfbf9;
    font-size: clamp(1rem, 1rem + 2vw ,7rem);
    margin-top: 0px;
    margin-bottom: 0px;
}

#header{
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    box-shadow: 0 6px 20px 0 rgba(185, 36, 198, 0.27);
    margin-bottom: 2vh;
    background-color: #F79AD3;
}

#title {
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: #f7c7db;
    font-size: clamp(1rem, 1rem + 2vw ,7rem);
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    cursor: pointer;
    font-family: 'Noto Serif JP', serif;
    font-weight: 900;
}

#title:hover {
    color: #eeb1eb;
}

.otherbtn{
    width: 100px;
}

p#instrucciones{
    text-align: center;
    color: #8C3E8B;
    font-size: clamp(1rem, 1.5rem, 2rem);
    margin: 10px;
    font-weight: 500;
}

p#instruccionescontent{
    text-align: center;
    max-width: 400px;
    font-size: 1.2rem;
    color: #7b002e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

#app{
    justify-content: center;
    text-align: center;
}

.homediv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uibtn{
    --button_radius: 0.75em;
    --button_color: #F7C7DB;
    /* --button_outline_color: #595758; */
    --button_outline_color:#420039;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 200px;
    margin: 10px;  
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none; 
}

.uibtn-top{
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover:enabled .uibtn-top{
    transform: translateY(-0.33em);
}

button:active:enabled .uibtn-top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
}

.uibtn:active{
    top: -2px;
}

.uibtn-top.disabled{
    color: #4f4f4f;
    background-color: #95738e;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    /* width: 150px; */
    height: 200px; 
    border-radius: 10px;
    filter: drop-shadow(2px 5px 0px #1b021a38);
    min-width: 9rem;
    box-sizing: border-box;
}

.selected {
    border: black solid 2px;
}

.question {
    font-size: 8rem;
    text-align: center;
    background-color: #DCCCFF;
    border-bottom: gray dotted;
    flex : 1;
    line-height: 109px;
    max-height: 8rem;
}

.question-span{
    font-size: clamp(3rem,5rem,9rem);
    font-family: 'Noto Serif JP', serif;
    color: #38032f;
}

.form {
    text-align: center;
    /* background-color: gainsboro; */
    background-color: #f8e7fd;
    flex: 1;
}

.correct {
    background-color: rgb(171, 223, 156);
}

.incorrect {
    background-color: brown;
}

input[type=text] {
    background-color: rgb(255, 255, 255);
    border: 0ch;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;   
}

#footer{
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #F79AD3;
    color: #683257;
    bottom: 0;
    /* height: 8vh; */
    padding: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.2rem, .5rem + 1vw, 1.1rem);
}

@media only screen and (min-width: 40rem){
    #footer{
        /* background-color: rgb(233, 0, 0); */
        height: 3vh;
        flex-direction: row;
    }   
}



@media only screen and (min-width: 69rem){
    .setupDiv{
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

.practiceDiv{
    /* border: black 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
}

.select-box{
    --margin : .3rem;
    --marginsides : .2rem;
    display: block;
    border: .3vw solid #7f3f5f;
    background-color: #fceefa;
    color: #595758;
    padding: 0.5rem 0;
    border-radius: 9px;
    font-size: clamp(1rem,1.15rem,2rem);
    transition: 0.2s ease;
    margin: var(--margin) var(--marginsides) var(--margin) var(--marginsides);
    font-family: 'Noto Serif JP', serif;
}

label{
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none; 
}

.setup-input {
    clip-path: inset(50%);
    position: absolute;
}

.check {
    background-color: #C86FC9;
    border: .3vw solid #C86FC9;
    color: #fff;
    border-radius: 0%;
}

.learncard {   
    min-width: 9rem;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.learnkana {    
    font-size: clamp(5rem, 6rem + 3vw, 10rem);
    color: aliceblue;
    font-family: 'Noto Serif JP', serif;
}

.learnromaji {   
    font-size: clamp(5rem, 6rem + 3vw, 10rem);
    color:  #8E518D;
}

@media only screen and (min-width: 25rem){
    .learncard{
        max-width: 400px;
    }   
}

.learnkanatitle{
    color: aliceblue;  
}

.learnromajititle{
    color: #8E518D;  
}

.kanasection{
    background-color: #8E518D;
    padding: 20px;
}

.romajisection{
    background-color: #EAC8F7;
    padding: 20px;
}

.spacer{
    margin: 20px;
}

@media only screen and (min-width: 25rem){
    .btn-div{
        max-width: 400px;
    }   
}

.btn-div{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;
    margin: auto;
}

.prevbtn{
    padding: 10px;
    font-size: clamp(1rem, 1rem + 1vw, 1.8rem);
    min-width: 8rem;
    font-weight: bold;
    border: none;
    color: #8E518D;
    background: #D7C0D0;
    /* cursor: pointer; */
    text-align: center;
    flex: 1;
    transition: .5s;
    transition: background-color .2s;
}

.prevbtn:not([disabled]){
    cursor: pointer;
}

.prevbtn:active{
    background-color: #fff;
}

.prevbtn:disabled{
    background-color: rgb(190, 190, 190);
    color: #999899;
}

.prevbtn:hover:not([disabled]){
    background-color: #c0a1b7;
}

.nextbtn{
    padding: 10px;
    font-size: clamp(1rem, 1rem + 1vw, 1.8rem);
    min-width: 8rem;
    font-weight: bold;
    border: none;
    color: #D7C0D0;
    background:  #8E518D;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none; 
    flex: 1;
    transition: .5s;
    transition: background-color .2s;
}

.nextbtn:hover {
    background:  #a36ea2;   
}

.nextbtn:active{
    background-color: #fff;
}

.quiz{
    flex: 2;
    background-color: #8E518D;
    color: #D7C0D0;
}

.quiz:active{
    background-color: #fff;
}

.quiz:hover{
    background-color: #ac72ab;
}

.quizdiv {
    margin: auto;
}

.quizprompt{
    min-width: 9rem;
    min-height: 16rem;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #CDB4DB;
    /* padding: 53px; */
    /* font-size: clamp(5rem, 5rem + 10vw,12rem); */
    font-size: 10rem;
    color: #3d2645;  
    /* padding-top: 10vh; */
    /* padding-bottom: 10vh; */
}

.quizprompttext{
    opacity: 0.2;
    transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin: auto;
    font-family: 'Noto Serif JP', serif;
}

@media only screen and (min-width: 25rem){
    .quizdiv{
        max-width: 400px;
    }   
}

.quizbuttonsdiv{
    display: flex;
    gap: 20px;
}

.correctquizanswerbtn, .incorrectquizanswerbtn{
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: #932f6d;
    font-size: clamp(1rem, 1rem + 1vw,1.8rem);
    color: #ebdbea;
    -webkit-user-select: none;
    user-select: none; 
    flex : 1;
    min-height: 5rem;
}

.correctquizanswerbtn:after{
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
}

.correctquizanswerbtn:hover:not([disabled]){
    background-color: #683257;   
}

.incorrectquizanswerbtn:hover:not(.incorrectquiz){
    background-color: #683257;   
}


.correctquiz{
    background-color: #86c548;
}

.incorrectquiz{   
    background-color: #bd0f50;;
}

.correctquizanswerbtn:hover{
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.incorrectquizanswerbtn:focus{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate(-2px, 0);
    }
    20%, 80% {
      transform: translate(2px, 0);
    }
    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }
    40%, 60% {
      transform: translate(4px, 0);
    }
}

.againbtn{
    border: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: clamp(1rem, 1rem + 1vw,1.8rem);
    -webkit-user-select: none;
    user-select: none; 
    flex : 1;
    min-height: 5rem;
    background-color: #d6d2d2;
    color: #3d2645;
}

.againbtn:hover{
    background-color: #a7a4a4;
}

.nextsetbtn{
    border: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: clamp(1rem, 1rem + 1vw,1.8rem);
    -webkit-user-select: none;
    user-select: none; 
    flex : 1;
    min-height: 5rem;
    color: #3d2645;
    background-color: #CDB4DB;
}

.nextsetbtn:hover{
    background-color: #a17bb8;
}

.exitbtn{
    border: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: clamp(1rem, 1rem + 1vw,1.8rem);
    -webkit-user-select: none;
    user-select: none; 
    flex : 1;
    min-height: 5rem;
    color: #F6F2FF;
    background-color: #FF95B5;
}

.exitbtn:hover{
    background-color: #cc4c72;
}

.fade{
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.practiceagainbuttons{
    margin: auto;
    padding: 2rem;
}

.practiceagainbtn{
    border: none;
    border-radius: 10px;
    background-color: #DCCCFF;
    color: #38032f;
    font-size: clamp(2rem, 1rem + 1vw,3rem);
    min-height: 2.5rem;
    margin: 10px;
    padding: 1rem;
}

.practiceagainbtn:hover{
    background-color: #ac96da;
}

.practicechangebtn{
    border: none;
    border-radius: 10px;
    background-color: #932F6D;
    font-size: clamp(2rem, 1rem + 1vw,3rem);
    margin: 10px;
    padding: 1rem;
    color: aliceblue;
}

.practicechangebtn:hover{
    background-color: #801e5a;
}

.checkboxes:not(.extra){
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.kanagroupbuttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.all-main:not(.check){
    background-color: #DCCCFF;
}

.all-hira:not(.check){
    background-color: #efccff;
}

.all-kata:not(.check){
    background-color: #efccff;
}

.focus-card{
    border: 5px #420039 solid;
    transform: scale(1.1);
}

a{
    text-decoration: none;
}

a:link {
    color: #420039;
}
  
a:visited {
    color: #2e0219;
}
  
a:hover {
    color: #683257;
}
  
a:active {
    color: #0000ff;
}

a:hover {
    text-decoration: underline;
}

.sakura-spacer{
    height: 4vh;
    display: flex;
    justify-content: center;
}

.footerdiv{
    flex: 1;
}

.right{
    text-align: right;
}

button#title{
    background-color: #F79AD3;
    margin: auto;
    --shadowcolor: #420039;
}

button:focus-visible{
    outline: 2px solid #2e0219;
    border-color: #2e0219;
}

.stroke-single{
    position: relative;
    background: transparent;
    z-index: 0;
}

.stroke-single:before{
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.2em #420039; 
    z-index: -1;
}

.all-extra:not(.check){
    background-color: #efccff;
}

.info {
    color: #595758;
}


